﻿@model IEnumerable<WEB2021Apr_P04_T6.Models.Competition>
<div class="table-responsive">
    <table id="viewStaff" class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>CompetitionID</th>
                <th>Name</th>
                <th>Start Date</th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.CompetitionID</td>
                    <td>@item.CompetitionName</td>
                    <td>@item.StartDate</td>

                    <td>
                        <a asp-action="Join" asp-controller="Competitor"
                           asp-route-id="@item.CompetitionID">Join</a> |
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<!-- A grey navbar that expands horizontally at medium device -->
<nav class="navbar navbar-expand-md bg-light navbar-light">
    <!-- The brand(or icon) of the navbar -->
    <a class="navbar-brand" href="~/Home/CompetitorMain"
       style="font-size:32px; font-weight:bold; color:#3399FF;">
        JudgeJistic
    </a>
    <!-- Toggle/collapsible Button, also known as hamburger button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#CompNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Links in the navbar, displayed as drop-down list when collapsed -->
    <div class="collapse navbar-collapse" id="CompNavbar">
        <!-- Links that are aligned to the left,
        mr-auto: right margin auto-adjusted -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="~/Competitor/Index">
                    View Competition list
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">View score</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">view profile</a>
            </li>
        </ul>
        <!-- Links that are aligned to the right,
            ml-auto: left margin auto-adjusted -->
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <!-- A link for logging out user -->
                <a class="nav-link" href="~/Home/LogOut">Log Out</a>
            </li>
        </ul>
    </div>
</nav>
