﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <!-- Use Unicode character encoding - multi-language compatibity -->
    <meta charset="utf-8">
    <!-- Set the initial view zooming scale for mobile device -->
    <meta name="viewport" content="width = device-width,
 initial-scale = 1" />
    <title>JudgeJistic</title>
    <!-- Reference to customized styling for this website -->
    <link rel="stylesheet" type="text/css" href="~/css/Site.css">
</head>
<body>
    <div class="container" id="mainContainer">
        <!-- 1st row -->
        <div class="flex-container">
            <!-- Flexbox for logo, auto-expand in the container -->
            <div style="flex:auto;">
            </div>
            <!-- Flexbox for Administrator login -->
            <div>
                <form method="post" action="~/Home/AdminLogin">
                    <fieldset class="loginFieldset">
                        <legend>Administrator Login</legend>
                        <label for="txtLoginID">Login ID:</label>
                        <input type="email" name="txtLoginID"
                               id="txtLoginID" required /><br />
                        <label for="txtPassword">Password:</label>
                        <input type="password" name="txtPassword"
                               id="txtPassword" style="width:100px"
                               required />
                        <input type="submit" id="btnAdminLogin"
                               class="myButton" value="Login" />
                        <br />
                        <span style="color:red;">@TempData["AdministratorMessage"]</span>
                    </fieldset>
                </form>
            </div>
            <!-- Flexbox for Competitor login -->
            <div>
                <form method="post" action="~/Home/CompetitorLogin">
                    <fieldset class="loginFieldset">
                        <legend>Competitor Login</legend>
                        <label for="txtLoginID">Login ID:</label>
                        <input type="email" name="txtLoginID"
                               id="txtLoginID" required /><br />
                        <label for="txtPassword">Password:</label>
                        <input type="password" name="txtPassword"
                               id="txtPassword" style="width:100px"
                               required />
                        <input type="submit" id="btnCompetitorLogin"
                               class="myButton" value="Login" />
                        <br />
                        <span style="color:red;">@TempData["CompetitorMessage"]</span>
                    </fieldset>
                </form>
            </div>
            <!-- Flexbox for Judge login -->
            <div>
                <form method="post" action="~/Home/JudgeLogin">
                    <fieldset class="loginFieldset">
                        <legend>Judge Login</legend>
                        <label for="txtLoginID">Login ID:</label>
                        <input type="email" name="txtLoginID"
                               id="txtLoginID" required /><br />
                        <label for="txtPassword">Password:</label>
                        <input type="password" name="txtPassword"
                               id="txtPassword" style="width:100px"
                               required />
                        <input type="submit" id="btnJudgeLogin"
                               class="myButton" value="Login" />
                        <br />
                        <span style="color:red;">@TempData["JudgeMessage"]</span>
                    </fieldset>
                </form>
            </div>
            <!-- Flexbox for Public login -->
            <div>
                <fieldset class="loginFieldset">
                    <legend>Student Login</legend>
                    <p>
                        <a href="~/Home/GuestLogin" class="myButton">Sign in with Google</a>
                    </p>
                    <a href="~/Home/Privacy">Privacy Policy</a>
                </fieldset>
            </div>
        </div>
    </div>
</body>
</html>