﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - JudgeJistic</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        @if (Context.Session.GetString("Role") != null)
        {
            if (Context.Session.GetString("Role") == "Administrator")
            {
                @await Html.PartialAsync("_AdminMenu.cshtml")
            }
            else if (Context.Session.GetString("Role") == "Competitor")
            {
                @await Html.PartialAsync("_CompetitorMenu.cshtml")
            }
            else if (Context.Session.GetString("Role") == "Judge")
            {
                @await Html.PartialAsync("_JudgeMenu.cshtml")
            }
            else if (Context.Session.GetString("Role") == "Guest")
            {
                @await Html.PartialAsync("_GuestMenu.cshtml")
            }
        }
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - JudgeJistic
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
