﻿@model IEnumerable<WEB2021Apr_P04_T6.Models.CompetitionScore>

@if (Model.ToList().Count > 0)
{
<div class="table-responsive">
    <table id="viewCompetitionScore" class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>CriteriaID</th>
                <th>CompetitorID</th>
                <th>CompetitionID</th>
                <th>Score</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
                {
            <tr>
                <td>@item.CriteriaID.ToString()</td>
                <td>@item.CompetitorID.ToString()</td>
                <td>@item.CompetitionID.ToString()</td>
                <td>@item.Score.ToString()</td>
                <td>
                    <a asp-action="Edit" asp-controller="CompetitionScore" asp-route-critid="@item.CriteriaID"
                       asp-route-compid="@item.CompetitionID" asp-route-comid="@item.CompetitorID">Edit Score</a>
                </td>
            </tr>
                }
        </tbody>
    </table>
</div>
}
else
{
<span style="color:red">No Competition Score record found!</span>
}