﻿@model WEB2021Apr_P04_T6.Models.SubmissionScoreViewModel

<div class="table-responsive">
    <table id="viewCompetitionSubmission" class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>CompetitionID</th>
                <th>CompetitorID</th>
                <th>Name</th>
                <th>FileUpload</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.submissionList)
            {
                string selectedRow = "";
                if (ViewData["selectedCompetitor"].ToString()
                 == item.CompetitorID.ToString())
                {
                    // Highlight the selected row
                    selectedRow = "class='table-primary'";
                }
                <tr @Html.Raw(selectedRow)>
                    <td>@item.CompetitionID.ToString()</td>
                    <td>@item.CompetitorID.ToString()</td>
                    <td>@item.</td>
                    <td>@item.FileSubmitted.ToString()</td>
                    <td>
                        <a asp-action="Index" asp-controller="CompetitionScore"
                           asp-route-id="@item.CompetitorID" asp-route-compid="@item.CompetitionID">View Scores</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<!-- Display a list of staff members for each branch -->
@if (ViewData["selectedCompetitor"].ToString() != "")
{
    if (Model.scoreList.Count != 0)
    {
        <h5>
            Scores for
            @ViewData["selectedCompetitor"].ToString() :
        </h5>
        <p><a asp-action="Create" asp-route-id="@ViewData["selectedCompetitor"].ToString()"
              asp-route-comp="@ViewData["selectedCompetition"].ToString()" >Set New Score</a></p>
        <partial name="~/Views/CompetitionScore/_ViewCompetitionScore.cshtml"
                 model="@Model.scoreList" />
    }
    else
    {
        <h5>No scores for selected competitor!</h5>
    }
}
