﻿@model IEnumerable<WEB2021Apr_P04_T6.Models.Competition>

@if (Model.ToList().Count > 0)
{
    <div class="table-responsive">
        <table id="viewStaff" class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>CompetitionID</th>
                    <th>AreaInterestID</th>
                    <th>Name</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Results Release Date</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>@item.CompetitionID.ToString()</td>
                    <td>@item.AreaInterestID.ToString()</td>
                    <td>@item.CompetitionName</td>
                    <td>@item.StartDate.ToString()</td>
                    <td>@item.EndDate.ToString()</td>
                    <td>@item.ResultReleasedDate.ToString()</td>
                    <td>
                        <a asp-action="Edit" asp-controller="Competition"
                           asp-route-id="@item.CompetitionID">Edit</a> |
                        <a asp-action="Delete" asp-controller="Competition"
                           asp-route-id="@item.CompetitionID">Delete</a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <span style="color:red">No record found!</span>
}
