﻿@model WEB2021Apr_P04_T6.Models.Competition

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Competition</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row">
                <label asp-for="CompetitionName"
                       class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 col-md-5">
                    <input asp-for="CompetitionName" class="form-control" />
                    <span asp-validation-for="CompetitionName"
                          class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="AreaInterestID" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 col-md-5">
                    <select asp-for="AreaInterestID"
                            asp-items="@ViewData["AreaInterestList"]
 as List<SelectListItem>"
                            class="form-control">
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="StartDate"
                       class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 col-md-5">
                    <input asp-for="StartDate" class="form-control" />
                    <span asp-validation-for="StartDate"
                          class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="EndDate"
                       class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 col-md-5">
                    <input asp-for="EndDate" class="form-control" />
                    <span asp-validation-for="EndDate"
                          class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="ResultReleasedDate"
                       class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 col-md-5">
                    <input asp-for="ResultReleasedDate" class="form-control" />
                    <span asp-validation-for="ResultReleasedDate"
                          class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

