﻿@model IEnumerable<WEB2021Apr_P04_T6.Models.Competition>

<h4 class="PageTitle">View Competitions</h4>
<p><a asp-action="Create">Create New</a></p>
<!-- Add a partial view to display a list of staff records
 in a tabular format. -->
<partial name="~/Views/Competition/_ViewCompetition.cshtml" model="@Model" />
