﻿@model IEnumerable<WEB2021Apr_P04_T6.Models.CompetitionViewModel>

@if (Model.ToList().Count > 0)
{
    <div class="table-responsive">
        <table id="viewStaff" class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>CompetitionID</th>
                    <th>Name</th>
                    <th>Start Date</th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>@item.CompetitionID</td>
                    <td>@item.CompetitionName</td>
                    <td>@item.StartDate</td>
                    @if (@item.CompetitorID != 0)
                    {
                        <td>
                           Joined
                        </td>
                    }
                    else
                    {
                    <td>
                        <a asp-action="Join" asp-controller="Competitor"
                           asp-route-id="@item.CompetitionID">Join</a>
                    </td>
                    }
                </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <span style="color:red">No competition found!</span>
}