﻿@model IEnumerable<WEB2021Apr_P04_T6.Models.CompetitionViewModel>

@if (Model.ToList().Count > 0)
{
    <div class="table-responsive">
        <table id="viewStaff" class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Name</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.CompetitionName</td>

                        <td>
                            @if (string.IsNullOrEmpty(item.FileSubmitted))
                            {
                            <form asp-action="upload" asp-controller="Competitor" method="post" enctype="multipart/form-data">
                                <input type="hidden" asp-for="@item.CompetitionID" name="CompetitionID"/>
                                 <input type="hidden" asp-for="@item.CompetitorID" name="CompetitorID" />
                                <input type="file" name="postedFiles" />
                                <input type="submit" value="Submit" />
                            </form>
                            }
                            else { 
                                <p>Submitted</p>
                            }
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <span style="color:red">No competition found!</span>
}