﻿@model WEB2021Apr_P04_T6.Models.Criteria

@{
    ViewData["Title"] = "Create";
}

<hr />

<form asp-action="Create">
    <fieldset class="FormContent">
        <div class="form-group row">
            <label asp-for="CompetitionID"
                   class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-4">
                <select asp-for="CompetitionID"
                        asp-items="@ViewData["CompetitionID"]
 as List<SelectListItem>"
                        class="form-control"></select>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="CriteriaName"
                   class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="CriteriaName" class="form-control" />
                <span asp-validation-for="CriteriaName"
                      class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Weightage"
                   class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="Weightage" class="form-control" />
                <span asp-validation-for="Weightage"
                      class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-9 offset-sm-3">
                <input type="submit" value="Create"
                       class="btn btn-primary" />
            </div>
        </div>
        <div class="col-sm-9 offset-sm-3">
            <span style="color:red;">@TempData["JudgeErrorMessage"]</span>
        </div>
        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </fieldset>
</form>

