﻿@model IEnumerable<WEB2021Apr_P04_T6.Models.Criteria>

<h4 class="PageTitle">View Criteria</h4>
<p><a asp-action="Create">Create New</a></p>
<!-- Add a partial view to display a list of criteria records
 in a tabular format. -->
<partial name="~/Views/Criteria/_ViewCriteria.cshtml" model="@Model" />
