﻿@model IEnumerable<WEB2021Apr_P04_T6.Models.AreaInterest>

@if (Model.ToList().Count > 0)
{
    <div class="table-responsive">
        <table id="viewStaff" class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.AreaInterestID.ToString()</td>
                        <td>@item.Name</td>
                        <td>
                            <a asp-action="Delete" asp-controller="AreaInterest"
                               asp-route-id="@item.AreaInterestID">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <span style="color:red">No record found!</span>
}
