﻿@model WEB2021Apr_P04_T6.Models.Judge

@{
    ViewData["Title"] = "Create";
}

<hr />

<form asp-action="Create">
    <fieldset class="FormContent">
        <div class="form-group row">
            <label asp-for="Name"
                   class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name"
                      class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Salutation"
                   class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-4">
                <select asp-for="Salutation"
                        asp-items="@ViewData["Salutation"]
 as List<SelectListItem>"
                        class="form-control"></select>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Email"
                   class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email"
                      class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Password"
                   class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password"
                      class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="AOI"
                   class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-4">
                <select asp-for="AOI"
                        asp-items="@ViewData["AOI"]
 as List<SelectListItem>"
                        class="form-control"></select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-9 offset-sm-3">
                <input type="submit" value="Create"
                       class="btn btn-primary" />
            </div>
        </div>
        <div class="col-sm-9 offset-sm-3">
            <span style="color:red;">@TempData["JudgeErrorMessage"]</span>
        </div>
</fieldset>
</form>

